<div class="container">

  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6' >

      <div class="example">
          <p>
            <br>ようこそ、ながのCAKEへ！
            <br>このサイトは、ケーキ販売のECサイトになります。
            <br>会員でない方も商品の閲覧はできますが、
            <br>購入には会員登録が必要になります。
          </p>
      </div>
    </div>
  </div>




</div>


